.wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    background: url(https://wallpapercave.com/wp/wp4366040.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.form {
    width: 60%;
    max-width: 300px;
    margin: auto 0;
    background: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3em;
}

.form>div{
    text-align: center;
}

.form button {
    height: 2rem;
    border-radius: 1rem;
    width: 55%;
    margin: 1rem 0;
    outline: none;
}

.form button:hover{
    background-color: lightpink;
}

.signUp{
    font-size: 0.8em;
    margin: 1rem 0;
}

.signUp a{
    text-decoration: underline;
}

.error {
    background-color: rgb(216, 56, 181);
}