.footer{
    height: 10rem;
    background: #f1f1f1;
}

.wrapper{
    width:  80%;
    margin: 0 auto;
    display: grid;
    gap: 1%;
    grid-template-columns: 10rem repeat(4, 21.3%);
}

.clmn {
    display: grid;
    grid-template-rows: repeat(4,25%);
}

.title{
    font-weight: 600;
    font-style: italic;
    vertical-align: middle;
}

.logo > row {
    width: 100%;
}

.logo img{
    width: 10rem;
}